*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  /* color: #333333; */
}
h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}
h1{
  font-weight: 700;
}
h2,h3{
  font-weight: 500;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  /* dashboard styling */
  .dashborad-icon{
    width: 60px;
    height: 60px;
    padding: 0;
  }
  /* show leave request card  */
  .leave-requests{
    max-height: 350px;
    overflow-y: hidden;
  }
  

  /* Sidebar Styling */
  .sidebar {
    width: 220px;
    background-color: rgb(255, 255, 255);
    color: #333333;
    flex-shrink: 0;
    transition: all 0.7s;
  }

  .sidebar .nav-link {
    color: #333333;
    padding: 8px 17px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .sidebar .nav-link:hover {
    background-color: #f0f7fd;
    color: #007bff;
    border-radius: 8px;
  }

  .sidebar .nav-link.active {
    color: white;
    background-color: #007bff; 
    border-radius: 8px;
  }

  /* Topbar Styling */
  .topbar {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 7px 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .topbar .profile {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .topbar .img-profile{
    height: 30px;
    width: 30px;
  }

  /* Main Content Area */
  .main-content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #f8f9fa;
  }

  .main {
    padding: 20px 20px;
  }
  
  .sidebar.active {
    width: 0;
    visibility: hidden;
  }

  /* Success and Error Alert */ 
#closeAlert{
  z-index: 1050;
}  

  /* Responsive Sidebar */
  @media (max-width: 992px) {
    .sidebar {
      width: 0;
      visibility: hidden;
    }

    .sidebar.active {
      width: 180px;
      visibility: visible;
    }
  }
/* Responsive Sidebar up to 576px */
  @media (max-width: 576px) {
    
    
    .sidebar.active {
      width: 180px;
      visibility: visible;
    }
  }


  @media (max-width: 358px) {
    #toggleSidebar{
      font-size: 10px;
      position: absolute;
      left: 8px;
      top: 6px;
      z-index: 1;
    }
    
    .sidebar.active {
      width: 100%;
      visibility: visible;
    }
  }